services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: TechProductDB
    ports:
     - "3307:3306" 
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    depends_on:
      - mysql
    env_file:
      - .env

  frontend:
    build: ./frontend/tech-store-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3001:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    depends_on:
      - mysql
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  db_data:
  grafana_data:
